<p class="text-center font-bold text-2xl bg-sky-600 text-white mb-5">product-list works!</p>
<div class="w-44 h-8 flex justify-center mx-auto mb-4">
<a routerLink="addPr" class=" w-44 h-8 ">
    <p class="text-center w-44 h-8 bg-green-500 mx-auto leading-8 text-white font-bold hover:scale-110 duration-200 mb-4">Add product</p>
</a>
</div>


<table class="w-[700px] mx-auto text-center">
    <thead>
        <tr class="font-bold bg-gray-400 text-white">
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of allPr; index as i" class="hover:bg-gray-200">
            <td>{{i+1}}</td>
            <td>{{data.name}}</td>
            <td>${{data.price}}</td>
            <td class="border-none flex space-x-2 justify-center">
                <button (click)="Remove(data.id)" class="w-28 h-8 bg-red-500 hover:bg-red-600 text-white">Remove</button>
                <a routerLink="updatePr/{{data.id}}">
                    <button class="w-28 h-8 bg-sky-500 hover:bg-sky-600 text-white">Update</button>
                </a>
            </td>
        </tr>
    </tbody>
</table>