<a routerLink=""><p class="text-center font-bold text-2xl bg-orange-500 text-white mb-5 ">add-list works!</p></a>

<form (ngSubmit)="OnaddPr()" class="w-[700px] mx-auto bg-gray-100 h-[200px]">
    <br>
    <p class="text-center font-medium">Name</p>
    <input class="text-center outline-0 w-[700px] border border=gray-400 rounded-md inputForm"
     type="text" [(ngModel)]="ObjectAdd.name" name="name" placeholder="...name ?">

     <p class="text-center font-medium">Price</p>
    <input class="text-center outline-0 w-[700px] border border=gray-400 rounded-md inputForm"
     type="number" [(ngModel)]="ObjectAdd.price" name="price" placeholder="...price ?">

     <div class="flex justify-center mt-5">
        <button class="w-40 h-8 bg-gray-600 hover:bg-gray-700 active:bg-black text-white rounded-md">Add</button>
     </div>
</form>